__pycache__/
*.pyc
.DS_Store
*.pth
*.pt
*.ckpt
events.out.tfevents.*
datasets/
esod/runs/
esod/VisDrone/
esod/weights/pretrained/*.pt
remdet/work_dirs/
sifdal/SIFAD/VOCdevkit/
sifdal/SIFAD/logs/
outputs/visdrone_train/model_*.pth
outputs/visdrone_train/last_checkpoint
